<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Coze
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{this.debugmsg}}
    <ion-list *ngIf="!this.startCoze && this.gotNextCozeTime">
      <ion-item>
        <h1 class="coze-timer-header">
          Countdown to Next Coze:
        </h1>
      </ion-item>
      <ion-item>
        <h1 class="coze-timer">
          {{this.timeToCozeStr}}
        </h1>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="this.startCoze && !showRemoteVideo">
        <ion-item>
          <h3>Connecting to your partner...</h3>
        </ion-item>
        <ion-item *ngIf="this.showControls">
            <ion-label floating>Call ID:</ion-label>
            <ion-input type="text" [(ngModel)]="calleeId"></ion-input>
        </ion-item>
    </ion-list>
    <ion-grid *ngIf="this.startCoze">
        <ion-row *ngIf="this.showControls">
          <h3>
            My Call ID: {{myCallId}}
          </h3>
        </ion-row>
        <ion-row *ngIf="this.showControls">
            <ion-col>
                <button *ngIf="showCall" ion-button block (click)='MakeCall(calleeId)'>Call</button>
            </ion-col>
            <ion-col>
                <button *ngIf="showHangup" ion-button block color="danger" (click)='HangUp()'>Hangup</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.showControls">
            <ion-col>
                <button *ngIf="showAnswer" ion-button block color="secondary" (click)='AnswerCall(incomingCallId)'>Answer</button>
            </ion-col>
            <ion-col>
                <button *ngIf="showReject" ion-button block color="danger">Reject</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.showControls">
            <ion-col>
                <p *ngIf="showStatus" [innerHtml]="status"></p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showRemoteVideo">
            <ion-col>
                <div id="remote" style="width:100%;"></div>
            </ion-col>
            <ion-col>
                <button ion-button block color="danger" (click)='HangUp()'>Hangup</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showMyVideo">
            <ion-col>
                <div id="mini"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
