page-coze {
  ion-content {
    background-image: url('assets/img/logo.png');

    h1.coze-timer {
      text-align: center;
      font-size: 5em;
      color: blue;
    }

    h1.coze-timer-header {
      text-align: center;
    }
  }
}
